﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Builtin360</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Builder"))
                    {
                        <li>@Html.ActionLink("Proposals", "Index", "Proposal")</li>
                        <li>@Html.ActionLink("Investors", "Index", "Contact")</li>
                    }
                    else if (User.IsInRole("Investor"))
                    {
                        <li>@Html.ActionLink("Proposals", "Index", "Proposal")</li>
                    }
                </ul>
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>

        </div>
    </div>
    <div class="container body-content">
        
        <div style="margin:50px"> </div>
        

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Builtin360</p>
        </footer>
    </div>

</body>
</html>
