﻿<section class="navbar-right" id="login">
    <form data-bind="if: authorized()" class="navbar-form navbar-right" action="/Account/LogOff" method="post">
        @Html.AntiForgeryToken()
        <p class="navbar-text">Signed in as <a href="#" class="navbar-button" data-bind="text: user().Name"></a></p>
        <button class="btn btn-success" type="submit">Sign out</button>
    </form>
    <form data-bind="ifnot: authorized()" class="navbar-form navbar-right" action="/Account/Login" method="post">
        @Html.AntiForgeryToken()
        <button class="btn btn-success" onclick="location.href='@Url.Action("Login", "Account")';return false;">Sign in</button>
    </form>
</section>

<script>
    function ViewModel()
    {
        var self = this;
        

    }
</script>

