﻿<div class="form-group">
    <div class="col-md-2 zg-total">
        <label class="control-label" for="totalToBuildEdit">Building Area<sub>(net)</sub></label>
        <div class="input-group zg-number-width">
            <input data-bind="value: totalToBuild" class="form-control" id="totalToBuildEdit" readonly />
            <span class="input-group-addon">ft²</span>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table-condensed">
            <tbody data-bind="foreach: buildings">
                <tr data-bind="style: {'vertical-align': $index() == 0 ? 'bottom' : 'inherit'}">
                    <td data-bind="css: {'zg-spec-label-first': $index() == 0}" class="zg-name-width zg-spec-label">
                        <label data-bind="text: name, uniqueFor: numUnits"></label>
                    </td>
                    <td class="zg-percent-width">
                        <label data-bind="visible: $index() == 0, uniqueFor: numUnits">(#) <sub>Units</sub></label>
                        <input data-bind="vvalue: numUnits, uniqueId: numUnits" class="form-control zg-percent-width" />
                    </td>
                    <td class="zg-number-width">
                        <label data-bind="visible: $index() == 0, uniqueFor: area">(ft²) <sub>Gross Area</sub></label>
                        <input data-bind="vvalue: area, uniqueId: area" class="form-control zg-number-width" />
                    </td>
                    <td class="zg-percent-width">
                        <label data-bind="visible: $index() == 0, uniqueFor: percentSellable">(%) <sub>Sellable</sub></label>
                        <input data-bind="vvalue: percentSellable, uniqueId: percentSellable" class="form-control zg-percent-width" />
                    </td>
                    <td class="zg-number-width">
                        <label data-bind="visible: $index() == 0, uniqueFor: areaSellable">(ft²) <sub>Area Sellable</sub></label>
                        <input data-bind="vvalue: areaSellable, uniqueId: areaSellable" class="form-control zg-number-width" />
                    </td>
                    <td class="zg-number-width">
                        <label data-bind="visible: $index() == 0, uniqueFor: salePrice">($) <sub>Sale Price</sub></label>
                        <input data-bind="vvalue: salePrice, uniqueId: salePrice" class="form-control zg-number-width" />
                    </td>
                    <td>
                    <td>
                        <label data-bind="visible: $index() == 0, uniqueFor: areaSales">($) <sub>Total Area Sales</sub></label>
                        <p data-bind="text: areaSales, uniqueId: areaSales" class="form-inline zg-number-width" />
                    </td>
                    <td>
                        <button data-bind="visible: isOptional, click: deactivate" type="button" class="btn btn-default" title="Remove Building Section">-</button>
                    </td>
                </tr>
            </tbody>
            <tr data-bind="visible: costGroups.hard.options().length > 0">
                <td class="zg-name-width">
                    <select data-bind="costOptions: costGroups.hard" class="form-control" />
                </td>
                <td><button data-bind="click: costGroups.hard.activateCurrentOption" type="button" class="btn btn-default pull-right zg-percent-width" title="Add new soft cost">Add</button></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

