﻿<div class="form-group">
    <div class="col-md-2 zg-total">
        <label class="control-label" for="totalLandAreaEdit">Land Area<sub>(net)</sub></label>
        <div class="input-group zg-number-width">
            <input data-bind="value: lands.totals().land" class="form-control" id="totalLandAreaEdit" readonly />
            <span class="input-group-addon">ft²</span>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table-condensed">
            <tbody data-bind="foreach: lands">
                <tr data-bind="style: {'vertical-align': $index() == 0 ? 'bottom' : 'inherit'}">
                    <td class="zg-percent-width">
                        <p class="form-inline" data-bind="text: ($index() + 1) + '.'"/>
                    </td>
                    <td class="zg-name-width">
                        <label data-bind="visible: $index() == 0, uniqueFor: address">Address</label>
                        <input data-bind="vvalue: address, uniqueId: address" class="form-control" />
                    </td>
                    <td class="zg-number-width">
                        <label data-bind="visible: $index() == 0, uniqueFor: area">(ft²)<sub>Area</sub></label>
                        <input data-bind="vvalue: area, uniqueId: area" class="form-control" />
                    </td>
                    <td class="zg-number-width">
                        <label data-bind="visible: $index() == 0, uniqueFor: FSR">FSR</label>
                        <input data-bind="vvalue: FSR, uniqueId: FSR" class="form-control" />
                    </td>
                    <td class="zg-number-width">
                        <label data-bind="visible: $index() == 0, uniqueFor: buildableArea">(ft²)<sub>Maximum Building Area</sub></label>
                        <p data-bind="text: buildableArea, uniqueId: buildableArea" class="form-inline" />
                    </td>
                    <td class="zg-number-width">
                        <label data-bind="visible: $index() == 0, uniqueFor: buildingArea">(ft²)<sub>Actual Building Area</sub></label>
                        <input data-bind="vvalue: buildingArea, uniqueId: buildingArea" class="form-control" />
                    </td>
                </tr>
            </tbody>
            <tr>
                <td>
                    <button data-bind="click: lands.addNew" type="button" class="btn btn-default" title="Add new piece of land.">Add</button>
                </td>
                
                <td></td>
                <td></td>
                <td>Totals:</td>
                <td class="zg-number-width">
                    <input class="form-control" data-bind="value: lands.totals().buildable" readonly/>
                </td>
                <td>
                    <input class="form-control" data-bind="value: lands.totals().building" readonly />
                </td>
            </tr>
        </table>
    </div>
</div>
