﻿<style>
    .validationElement {
        border: solid red 1px;
        border-radius: 4px;
        /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;*/
    }
</style>
<div class="form-horizontal">
    <fieldset>
        <div id="title" class="zg-proposal-section" style="margin-top: 3em;">
            <div class="form-group">
                <label for="editName" class="col-md-2 control-label">Title</label>
                <div class="col-md-7">
                    <input data-bind="vvalue: title" type="text" class="form-control" id="editName" placeholder="Proposal Title" />
                </div>
                @*<div class="col-md-2" style="padding-left:0;">
                        <label for="editPortfolio" class="control-label" style="position:absolute;top:-2em;">Portfolio</label>
                        <select data-bind="options: app.portfolios.items, optionsText: 'name', optionsValue: 'id', value: portfolioId, optionsCaption: '(global)'" id="editPortfolio" class="form-control zg-name-width"></select>
                    </div>*@
            </div>
        </div>
        <div id="land" class="zg-proposal-section">
            @Html.Partial("/Views/proposal/spec/_lands.cshtml");
        </div>
        @*<div>
                <div class="form-group">
                    <label for="addressEdit" class="col-md-2 control-label">Land Address</label>
                    <div class="col-md-8">
                        <input data-bind="vvalue: address" id="addressEdit" title="Land Address" class="form-control" type="text" required />
                    </div>
                </div>
            </div>
            <div id="land" class="zg-proposal-section">
                <div class="form-group">
                    <label for="landAreaEdit" class="control-label col-md-2">Land Area</label>
                    <div class="col-md-10">
                        <div class="input-group zg-number-width">
                            <input data-bind="vvalue: landArea" id="landAreaEdit" placeholder="Land Area" class="form-control" />
                            <span class="input-group-addon">ft²</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="landFSREdit" class="control-label col-md-2">FSR</label>
                    <div class="col-md-10">
                        <div class="input-group zg-percent-width">
                            <input data-bind="vvalue: landFSR" id="landFSREdit" placeholder="Fractional Sailing Radar" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="buildableAreaEdit" class="control-label col-md-2">Total Buildable</label>
                    <div class="col-md-10">
                        <div class="input-group zg-number-width">
                            <input data-bind="vvalue: buildableArea" id="buildableAreaEdit" placeholder="Maximum Area Buildable" class="form-control" />
                            <span class="input-group-addon">ft²</span>
                        </div>
                    </div>
                </div>
            </div>*@
        <div id="building" class="zg-proposal-section">
            @Html.Partial("/Views/proposal/spec/_buildableAreas.cshtml")
        </div>
        <div id="costs">
            <div class="zg-proposal-section">
                @Html.Partial("/Views/proposal/spec/costGroups/_soft.cshtml")
            </div>
            <div data-bind="if: costGroups.soft().length > 0" id="softCosts" class="zg-proposal-section">
                @Html.Partial("/Views/proposal/spec/costGroups/_hard.cshtml")
            </div>
            <div data-bind="if: costGroups.land().length > 0" id="landCosts" class="zg-proposal-section">
                @Html.Partial("/Views/proposal/spec/costGroups/_land.cshtml")
            </div>
            <div data-bind="if: costGroups.management().length > 0" id="managementCosts" class="zg-proposal-section">
                @Html.Partial("/Views/proposal/spec/costGroups/_management.cshtml")
            </div>
        </div>

        <div id="financing" class="zg-proposal-section">
            <div class="form-group">
                <label for="totalCostEdit" class="control-label col-md-2">Total Costs</label>
                <div class="col-md-10">
                    <div class="input-group zg-number-width">
                        <input data-bind="value: costs.total" id="totalCostEdit" placeholder="Total Costs" class="form-control" />
                        <span class="input-group-addon">$</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="requiredEquityEdit" class="control-label col-md-2">Required Equity</label>
                <div class="col-md-1">
                    <div class="input-group zg-number-width">
                        <input data-bind="vvalue: percentEquity" id="percentEquityEdit" placeholder="Required Equity" class="form-control" />
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group zg-number-width">
                        <input data-bind="vvalue: requiredEquity" id="requiredEquityEdit" placeholder="Required Equity" class="form-control" />
                        <span class="input-group-addon">$</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="projectDurationEdit" class="control-label col-md-2">Project Duration</label>
                <div class="col-md-10">
                    <div class="input-group zg-number-width">
                        <input data-bind="vvalue: projectDuration" id="projectDurationEdit" placeholder="Project Duration" class="form-control" />
                        <span class="input-group-addon">mo</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="zg-proposal-section" style="height:700px"></div>

    </fieldset>
</div>

