﻿<script id="zg-template-contact-view" type="text/html">
    <div>
        <h2 data-bind="text: name"> </h2>
    </div>
    <div>
        <label data-bind="text: email"> </label>
    </div>
    <button data-bind="visible: $parent.options.allowEdit, click: edit">Edit</button>
    <button data-bind="visible: $parent.options.allowRemove, click: del">Delete</button>
</script>
<script id="zg-template-contact-edit" type="text/html">
    <div>
        <label>Name</label>
        <input data-bind="value: name">
    </div>
    <div>
        <label>Email</label>
        <input data-bind="value: email">
    </div>
    <button data-bind="click: save">Save</button>
    <button data-bind="click: cancel">Cancel</button>
</script>

<div class="panel panel-body">
    <div data-bind="template: {name: 'el-template-page'}" class="zg-contact-list">
    </div>
</div>

