﻿html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/*
    for fixed navbar
    body {
        padding-top: 70px;
}*/

.btn.active {
    box-shadow: none;
}


/* Wrapper for page content to push down footer */
#zg-contents {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 10px auto -40px 10px;
    /*margin-left: 10px;
    margin-right: 10px;*/
}

#zg-menu {
    margin-left: 10px;
    margin-right: 10px;
}

/* Set the fixed height of the footer here */
#push,
#zg-footer {
    height: 40px;
}

#zg-footer {
    background-color: #f5f5f5;
}

.container .credit {
    margin: 20px 0;
}


/*mine*/
.zg-contact-groups {
    z-index: 100;
    border-bottom-style: solid;
    background-color: white;
    padding-bottom: 10px;
    width: 97%;
}

.zg-contact-list {
}

.zg-home {
    height: auto !important;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.zg-proposal-header {
    z-index: 100;
    border-bottom-style: solid;
    background-color: white;
    padding-bottom: 10px;
    width: 97%;
}

    .zg-proposal-header.affix {
        width: 90.8%;
        top: 0px;
    }

.zg-percent-width {
    width: 57px;
}

.zg-number-width {
    width: 110px;
}

.zg-name-width {
    width: 120px;
}

.zg-spec-label {
    text-align: right;
    vertical-align: middle;
    margin-bottom: 0px;
}

.zg-spec-label-first {
    text-align: right;
    vertical-align: bottom;
    margin-bottom: 5px;
}

.zg-spec-label-top {
    /*text-align: center;*/
    vertical-align: bottom;
    margin-bottom: 0px;
}

.zg-proposal-section {
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 1px solid #eeeeee;
}

    .zg-proposal-section .zg-contingency {
        border: solid;
        border-width: 2px;
        padding-bottom: 10px;
    }

        .zg-proposal-section .zg-contingency > div {
            display: table;
            margin: 0 30px;
        }

            .zg-proposal-section .zg-contingency > div > label {
                width: auto;
                text-align: left;
            }

    .zg-proposal-section .zg-total > label {
        width: auto;
        text-align: left;
    }

.zg-report-section {
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 1px solid #eeeeee;
}
