﻿.zg-sidebar {
    margin-top: 20px;
    padding-top: 0px;     
}


/* First level of nav */
.zg-sidenav {
    margin-bottom: 30px;
    padding-top: 20px;
    padding: 10px;
    border-radius: 3px;
    z-index: 100;
    background-color: rgba(48, 116, 176, 0.02);
    width: 230px;
}

/* All levels of nav */
.zg-sidebar .nav > li > a {
    display: block;
    color: #000000;
    padding: 5px 20px;
}

    .zg-sidebar .nav > li > a:hover,
    .zg-sidebar .nav > li > a:focus {
        background-color: rgba(25, 25, 0, 0.06);
        border-left: 1px solid rgba(25, 25, 0, 0.05);
        margin-left: -1px;
        text-decoration: underline;
    }

    .zg-sidebar.affix {
        position: fixed;
        margin-top: 20px;
    }

.zg-sidebar .nav > .active > a,
.zg-sidebar .nav > .active:hover > a,
.zg-sidebar .nav > .active:focus > a {
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    background-color: transparent;
    border-left: 1px solid rgb(34, 41, 48);
    margin-left: -1px;
}

/* Nav: second level (shown on .active) */
.zg-sidebar .nav .nav {
    display: none; /* Hide by default, but at >768px, show it */
    margin-bottom: 8px;
}

    .zg-sidebar .nav .nav > li > a {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 40px;
        font-size: 90%;
    }

/* Show and affix the side nav when space allows it */
.zg-sidebar .nav > .active > ul {
    display: block;
}
/*/* Widen the fixed sidebar 
.zg-sidebar.affix,
.zg-sidebar.affix-bottom {
    width: 213px;
}*/


/*.zg-sidebar.affix-bottom {
    position: absolute; 
    
}

    .zg-sidebar.affix-bottom zg-sidenav,
    .zg-sidebar.affix zg-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }*/

/* Widen the fixed sidebar again */
/*.zg-sidebar.affix-bottom,
.zg-sidebar.affix {
    width: 263px;
}*/
