/* Reset Styles */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
div, nav, header, footer, aside { display: block; }


/* General */

body {
	background: #FFF;
	text-align: left;
	font-family: 'Lato', Helvetica, Arial, 'Sans Serif';
	font-size: 15px;
	color: #fff;
}
	a {
		color: #3F8DAF;
		text-decoration: none;
	}
	a:hover { color: #333; }

	h1 {
		font-size: 60px;
		font-weight: 300;
		margin: 0 0 20px 0;
	}
	h2 {
		font-size: 24px;
		font-weight: 300;
		margin: 0 0 20px 0;
	}
	h3 {
		font-size: 16px;
		font-weight: 300;
		padding: 10px 0 0 0;
		margin: 0 0 10px 0;
	}
	p, 
	ul, 
	ol {
		font-size: 15px;
		line-height: 22px;
		margin: 0 0 20px 0;
	}
	ul {
		list-style: disc outside;
		margin-left: 30px;
	}
	ol {
		list-style: decimal outside;
		margin-left: 30px;
	}
	
	input[type="text"],
	input[type="email"],
	textarea {
		background: #FFF;
		border: none;
		height: 14px;
		font-size: 13px;
		padding: 16px 20px;
		font-family: Helvetica, Arial;
		width: 260px;
		margin: 0 10px 10px 0;
	}
	textarea { height: 40px; }
	input[type="submit"], 
	input[type="button"] {
		height: 46px;
		padding: 0 22px;
		font-size: 12px;
		font-family: Helvetica, Arial;
		color: #020202;
		border: none;
		cursor: pointer;
		border: none;
		margin: 0px;
		text-shadow: 1px 1px 1px #FFF;
		background: #ababab;
		background: -moz-linear-gradient(top, #ffffff 0%, #ababab 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ababab));
		background: -webkit-linear-gradient(top, #ffffff 0%,#ababab 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ababab 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ababab 100%);
		background: linear-gradient(to bottom, #ffffff 0%,#ababab 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ababab',GradientType=0 );
	}
	input[type="submit"]:hover,
	input[type="button"]:hover {
		background-image: #3F8DAF;
		text-shadow: none;
		background: -moz-linear-gradient(top, #3F8DAF 0%, #45ac40 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3F8DAF), color-stop(100%,#3F8DAF));
		background: -webkit-linear-gradient(top, #3F8DAF 0%,#3F8DAF 100%);
		background: -o-linear-gradient(top, #3F8DAF 0%,#3F8DAF 100%);
		background: -ms-linear-gradient(top, #3F8DAF 0%,#3F8DAF 100%);
		background: linear-gradient(to bottom, #3F8DAF 0%,#3F8DAF 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71bf6c', endColorstr='#3F8DAF',GradientType=0 );
		color: #FFF;
	}


/* Background Images */

ul.back-slideshow {
	display: block;
	position: absolute;
	position: fixed;
	z-index: 0;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	list-style: none;
	margin: 0px;
	overflow: hidden;
	background: #222;
}
	ul.back-slideshow li {
		display: none;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
		ul.back-slideshow li img {
			display: block;
			width: 100%;
			height: auto;
			z-index: 0;
		}


/* Background Images */

ul.back-portfolio-thumbs {
	display: block;
	position: absolute;
	position: fixed;
	z-index: 0;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	list-style: none;
	margin: 0px;
	overflow: hidden;
}
	ul.back-portfolio-thumbs li {
		float: left;
		display: block;
		margin: 0px;
		width: 25%;
	}
		ul.back-portfolio-thumbs li img {
			float: left;
			display: block;
			width: 100%;
			height: auto;
			opacity: 0.1;
			filter: alpha(opacity = 10);
		}



/* Structure */

#wrapper {
	position: relative;
	z-index: 1;
}

.container1 {
	text-align: left;
	width: 800px;
    height: 600px;
	padding: 0 0 0 100px;
	position: relative;
}

.container {
	text-align: left;
	width: 800px;
    padding: 0 0 0 100px;
	position: relative;
}

/* Site Main */

#site-main {
	padding: 20px 0 20px 0;
    background: url(images/vancouver-blue.jpg) no-repeat;
    background-size: 100%;
}
	#site-main .container {
        
	}
	
	ul.social {
		display: block;
		margin: 0px;
		overflow: hidden;
	}
		ul.social li {
			float: left;
			display: block;
			margin: 0 8px 0 0;
		}


/* Progress */

.progress {
	padding: 24px 0 0 0;
	height: 6px;
	position: relative;	
}
	.progress .bar {
		display: block;
		height: 6px;
		width: 100%;
		background: #000;
	}
	.progress .completed {
		display: block;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 0%;
		height: 6px;
		background: #45ac40;
	}
	.progress .percentage {
		position: absolute;
		left: 0%;
		top: 0px;
		font-size: 11px;
		display: block;
		text-align: center;
		width: 100px;
		margin: 0 0 0 -50px;
	}


/* Site Middle */

#site-middle {
	background: #404041;
	border-top: 1px solid #383838;
	border-bottom: 1px solid #383838;
	padding: 30px 0 26px 0;
	color: #FFF;
}
	#site-middle .container {
		overflow: hidden;
	}
		
		/* Subscribe section */
		
		#site-middle .subscribe {
			float: left;
			/*width: 500px;*/
		}
			#site-middle .subscribe h2 { margin: 0 0 12px 0; }
			#site-middle .subscribe p {
				font-size: 12px;
				line-height: 18px;
				color: #3F8DAF;
			}
			
			.subscribe input {
				margin-bottom: 10px;
			}
			.subscribe .response, 
			.subscribe label {
				display: block;
				font-size: 13px;
			}
			.subscribe form p { margin: 0px; }
			.subscribe label { padding: 10px 0 10px 0; }
			.subscribe .response { margin: 0 0 10px 0; }
			#subForm label { padding-bottom: 0px; }
			.subscribe .indicates-required {
				font-size: 12px;
				padding: 5px 0 5px 0;
				color: #999;
			}
		
		
		/* Countdown */
		
	

/* Site Footer */

#site-footer {
	color: #b8b8b8;
	background: #222;
}
	#site-footer .container {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#site-footer p {
		font-size: 11px;
		font-weight: 300;
	}
		#site-footer a { color: #FFF; }
		#site-footer a:hover { text-decoration: underline; }
		
		

/* Small Version */
@media all and (max-width: 940px) and (min-width: 681px) {
	
	#site-main .container,
	.container {
		width: 600px;
		padding: 0 50px 0 50px;
	}
	
	#site-middle .countdown {
		position: static;
		clear: both;
		margin: 0 0 0 -20px;
		padding: 30px 0 50px 0;
	}
	
	ul.back-portfolio-thumbs li { width: 33%; }
		
}
		

/* iPhone Version */


.formlinks{
	font-size:11px;

	
}

.formlinks a:hover{
	color:#FFF;	
}


.forminput{	
        background: #FFF;
		border: none;
		height: 44px;
		font-size: 13px;
		padding: 16px 20px;
		font-family: Helvetica, Arial;
		width: 260px;
		margin: 0 10px 10px 0;	
		-moz-border-radius: 5px;
        border-radius: 5px;	
}