﻿<div class="form-group">
    <div class="col-md-3 zg-total">
        <label class="control-label">Total Soft Costs<sub>(net)</sub></label>
        <div class="input-group zg-number-width">
            <input data-bind="vvalue: costGroups.soft.total" class="form-control" readonly />
            <span class="input-group-addon">$</span>
        </div>
        <div class="zg-contingency" data-bind="with: costGroups.contingency.soft">
            <div>
                <label class="control-label" for="contingSoft">(%) <sub>Contingency</sub></label>
                <div class="input-group zg-number-width">
                    <input data-bind="vvalue: amount" class="form-control" id="contingSoft" />
                </div>
                <label class="control-label" for="contingSoftAdj">Total Soft Costs<sub>(gross)</sub></label>
                <div class="input-group zg-number-width">
                    <input data-bind="vvalue: $parent.costGroups.soft.gross" class="form-control" id="contingSoftAdj" readonly/>
                    <span class="input-group-addon">$</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <table class="table-condensed">
            <tbody data-bind="foreach: costGroups.soft.actives()">
                <tr data-bind="style: {'vertical-align': $index() == 0 ? 'bottom' : 'inherit'}">
                    <td data-bind="css: {'zg-spec-label-first': $index() == 0}" class="zg-name-width zg-spec-label">
                        <label data-bind="text: name, uniqueFor: amount"></label>
                    </td>
                    <td class="zg-percent-width">
                        <label data-bind="visible: $index() == 0, uniqueFor: amount">(%) <sub>of hard costs</sub></label>
                        <input data-bind="vvalue: amount, uniqueId: amount" class="form-control" />
                    </td>
                    <td class="zg-number-width">
                        <label data-bind="visible: $index() == 0, uniqueFor: actualAmount">($) <sub>Amount</sub></label>
                        <input data-bind="vvalue: actualAmount, uniqueId: actualAmount" class="form-control" />
                    </td>
                    <td class="zg-percent-width">
                        <button data-bind="visible: isOptional, click: deactivate" type="button" class="btn btn-default" title="Remove Building Section">-</button>
                    </td>
                </tr>
            </tbody>
            <tr data-bind="visible: costGroups.soft.options().length > 0">
                <td>
                    <select data-bind="costOptions: costGroups.soft" class="form-control zg-name-width" />
                </td>
                <td><button data-bind="click: costGroups.soft.activateCurrentOption" type="button" class="btn btn-default zg-percent-width" title="Add new soft cost">Add</button></td>
                <td></td>

            </tr>
        </table>
    </div>
</div>

