﻿<div class="form-group">
    <div class="col-md-2">
        <label class="control-label">Total Land Costs</label>
        <div class="input-group zg-number-width">
            <input data-bind="vvalue: costGroups.land.total" class="form-control" readonly />
            <span class="input-group-addon">$</span>
        </div>
    </div>
    <div class="col-md-6">
        <table class="table-condensed">
            <tbody data-bind="foreach: costGroups.land.actives()">
                <tr data-bind="style: {'vertical-align': $index() == 0 ? 'bottom' : 'inherit'}">
                    <td data-bind="css: {'zg-spec-label-first': $index() == 0}" class="zg-name-width zg-spec-label">
                        <label data-bind="text: name, uniqueFor: $data"></label>
                    </td>
                    <td class="zg-number-width">
                        <label data-bind="visible: ($index() == 0), uniqueFor: $data">($)<sub> Amount</sub></label>
                        <input data-bind="vvalue: actualAmount, uniqueId: $data" class="form-control zg-number-width" />
                    </td>
                    <td class="zg-percent-width"><button data-bind="visible: isOptional, click: deactivate" type="button" class="btn btn-default" title="Remove Building Section">-</button></td>
                </tr>
            </tbody>
            <tr data-bind="visible: costGroups.land.options().length > 0">
                <td>
                    <select data-bind="costOptions: costGroups.land" class="form-control zg-name-width" />
                </td>
                <td><button data-bind="click: costGroups.land.activateCurrentOption" type="button" class="btn btn-default zg-number-width" title="Add new hard cost and building section">Add</button></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

