﻿
<div class="form-group">
    <div class="col-md-2 zg-total">
        <label class="control-label">Total Management Costs</label>
        <div class="input-group zg-number-width">
            <input data-bind="vvalue: costGroups.management.total" class="form-control" readonly />
            <span class="input-group-addon">$</span>
        </div>
    </div>
    <div class="col-md-6">
        <table class="table-condensed">
            <tbody data-bind="foreach: costGroups.management.actives()">
                <tr style="vertical-align:bottom">
                    <td class="zg-name-width zg-spec-label zg-spec-label-first">
                        <label data-bind="text: name, uniqueFor: name" class="zg-name-width"></label>
                    </td>
                    <td class="zg-number-width">
                        <label data-bind="uniqueFor: amount">(%) <sub data-bind="text: multiplierText"></sub></label>
                        <input data-bind="vvalue: amount, uniqueId: amount" class="form-control" />
                    </td>
                    <td class="zg-number-width">
                        <label data-bind="uniqueFor: actualAmount">($)<sub> Amount</sub></label>
                        <input data-bind="vvalue: actualAmount, uniqueId: actualAmount" class="form-control" />
                    </td>
                    <td class="zg-percent-width"><button data-bind="visible: isOptional(), click: deactivate" type="button" class="btn btn-default " title="Remove Building Section">-</button></td>
                </tr>
            </tbody>
            <tr data-bind="visible: costGroups.management.options() > 0">
                <td>
                    <select data-bind="costOptions: costGroups.management" class="form-control zg-name-width" />
                </td>
                <td><button data-bind="click: costGroups.management.activateCurrentOption" type="button" class="btn btn-default zg-number-width" title="Add new hard cost and building section">Add</button></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
