﻿<div id="hardCosts" class="form-group">
    <div class="col-md-3 zg-total">
        <label class="control-label">Total Hard Costs<sub>(net)</sub></label>
        <div class="input-group zg-number-width">
            <input data-bind="vvalue: costGroups.hard.total" class="form-control" readonly />
            <span class="input-group-addon">$</span>
        </div>
        <div class="zg-contingency" data-bind="with: costGroups.contingency.hard">
            <div>
                <label class="control-label" for="contingHard">(%) <sub>Contingency</sub></label>
                <div class="input-group zg-number-width">
                    <input data-bind="vvalue: amount" class="form-control" id="contingHard" />
                </div>
                <label class="control-label" for="contingAdj">Total Hard Costs<sub>(gross)</sub></label>
                <div class="input-group zg-number-width">
                    <input data-bind="vvalue: $parent.costGroups.hard.gross" class="form-control" id="contingAdj" readonly />
                    <span class="input-group-addon">$</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <table class="table-condensed">
            <tbody data-bind="foreach: costGroups.hard.actives()">
                <tr data-bind="style: {'vertical-align': $index() == 0 ? 'bottom' : 'inherit'}">
                    <td data-bind="css: {'zg-spec-label-first': $index() == 0}" class="zg-name-width zg-spec-label">
                        <label data-bind="text: name, uniqueFor: amount"></label>
                    </td>
                    <td class="zg-number-width">
                        <label data-bind="visible: $index() == 0, uniqueFor: amount">($/ft²) <sub>Cost</sub></label>
                        <input data-bind="vvalue: amount, uniqueId: amount" class="form-control" />
                    </td>
                    <td class="zg-number-width">
                        <label data-bind="visible: $index() == 0, uniqueFor: actualAmount">($) <sub>Area Cost</sub></label>
                        @*<input data-bind="vvalue: actualAmount, uniqueId: actualAmount" class="form-control zg-number-width" />*@
                        @*<p data-bind="text: areaSales, uniqueId: areaSales" class="form-inline zg-number-width" />*@
                        <p data-bind="text: actualAmount, uniqueId: actualAmount" class="form-inline zg-number-width"  />
                    </td>
                    <td class="zg-percent-width">
                        <button data-bind="visible: isOptional(), click: deactivate" type="button" class="btn btn-default" title="Remove Building Section">-</button>
                    </td>
                </tr>
            </tbody>
            <tr data-bind="visible: costGroups.hard.options().length > 0">
                <td>
                    <select data-bind="costOptions: costGroups.hard" class="form-control zg-name-width" />
                </td>
                <td>
                    <button data-bind="click: costGroups.hard.activateCurrentOption" type="button" class="btn btn-default zg-number-width" title="Add new hard cost and building section">Add</button>
                </td>
                <td></td>
            </tr>
        </table>

    </div>
</div>

