﻿<div>
    <label for="reqFin">Required Financing</label>
    <input id="reqFin" data-bind="vvalue: requiredFinancing" class="form-inline" readonly/>
    <label for="intRate">Interest Rate (%)</label>
    <input id="intRate" data-bind="vvalue: interestRate" />
    <label for="reqEquity">Required Equity</label>
    <input id="reqEquity" data-bind="vvalue: $parent.specs.requiredEquity" />
    <label for="numMonths">Project Duration (months)</label>
    <input id="numMonths" data-bind="vvalue: intervalLength" />
    <table>
        <thead>
            <tr>
                <td>Month</td>
                <td>Investment Installment</td>
                <td>Cumilitive Investment</td>
                <td>Loan Installment</td>
                <td>Cumilitive Loan</td>
                <td>Interest Payment</td>
                <td>Sales</td>
            </tr>
        </thead>
        <tbody data-bind="foreach: months">
            <tr>
                <td data-bind="text: $index() + 1"></td>
                <td>
                    <input data-bind="vvalue: investmentInstallment" />
                </td>
                <td data-bind="text: investment.adjusted"></td>
                <td>
                    <input data-bind="vvalue: loanInstallment" />
                </td>
                <td data-bind="text: loan.adjusted"></td>
                <td data-bind="text: interestPayment"></td>
                <td>
                    <input data-bind="vvalue: sales" />
                </td>
            </tr>
        </tbody>
    </table>
</div>