﻿<!-- no top border on table -->
<style>
    .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
        border: none;
    }
</style>

<div class="col-md-12">
    <!-- top navigation -->
    <ul data-bind="foreach: tabs" class="nav nav-tabs">
        <li data-bind="visible: !disabled(), css: {active: isActive(), 'pull-right': rightAlign()}">
            <a class="diabled" data-bind="text: name, click: activate, style : {cursor: cursor}"></a>
        </li>
    </ul>

    <!-- conntents -->
    <div class="panel panel-body">
        <div data-bind="visible: activePage() == 'Index' && !dataItems.isLoading()">
            <div class="jumbotron">
                <small>You can select a proposal from the list below:</small>
            </div>
            <div class="col-md-12">
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Last Modified</th>
                        <th>Date Created</th>
                    </tr>
                    <tbody data-bind="foreach: vmItems">
                        <tr data-bind="click: open" style="cursor:pointer">
                            <td data-bind="text: name"></td>
                            <td data-bind="text: dateModified"></td>
                            <td data-bind="text: dateCreated"></td>
                            <td data-bind="visible: !page(), click: del, clickBubble: false"><b>del</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div data-bind="foreach: {data: vmItems, afterAdd: afterProposalPageAdd}">
            <div data-bind="visible: $parent.activePage() == $data">
                <!-- ko with: page -->
                @Html.Partial("/Views/proposal/_page.cshtml")
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
