﻿<div data-bind="visible: $parent.activeSection() == ko.unwrap(name)">
    <input type="text" data-bind="value: label"/>
    <div data-bind="if: type && type() == 'html'">
        <div contenteditable="true" style="height: 20px;" data-bind="editableHTML: htmlData"></div>
    </div>
    <div data-bind="if: type && type() == 'pdf'">
        <h1>blah</h1>
        <select data-bind="options: pdfs, optionsText: 'fileName', optionsValue: 'data', value: selectedFile"></select>
        <div data-bind="jmedia: file"></div>
    </div>
</div>  