﻿<div>
    <div id="ror" class="zg-report-section">
        <h3>A. Return on Revenue</h3>
        <div data-bind="chartData: rorGraph, chartOptions: { title: 'Return on Revenue', width: 1000, height: 500 }"></div>
    </div>
    <div id="costs" class="zg-report-section">
        <h3>B. Costs</h3>
        <div class="row">
            <div style="float:left">
                <div data-bind="chartData: costs, selection: costGroupSelection, chartOptions: { title: 'Cost Breakdown', width: 500, height: 500 }"></div>
            </div>
            <div id="bdCosts" style="float:right">
                <!-- ko foreach: costGroups-->
                <div>
                    <div data-bind="visible: $data == $parent.currentCostGroup(), chartData: $data, chartOptions: { title: $data.groupTitle, width: 500, height: 500 }"></div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
    <div id="investment" class="zg-report-section">
        <h3>C. Monthly Investment</h3>
        <div data-bind="chartData: investment, chartOptions: { title: 'Investment', width: 1000, height: 500 }, chartType: 'LineChart'"></div>
    </div>
    <div id="interest" class="zg-report-section">
        <h3>D. Monthly Interest Payments</h3>
        <div data-bind="chartData: interest, chartOptions: { title: 'Interest Payments', width: 1000, height: 500 }, chartType: 'LineChart'"></div>
    </div>
    <div style="height:700px"></div>
</div>
