﻿<div class="panel panel-body">
    <div data-bind="bsAffix: { offset: { top: 150 } }" class="zg-proposal-header">
        <h2>'<span data-bind="text: name"></span>'</h2>
        <div class="btn-toolbar" style="padding-top:10px;">
            <div class="btn-group">
                <div data-bind="sortable: tabs.dataItems" class="btn-group">
                    <span data-bind="click: function() {$parent.activeSection(ko.unwrap(name))}, css: {active: $parent.activeSection() == ko.unwrap(name)}, text: ko.unwrap(label)" class="btn btn-default"></span>
                </div>
            </div>
            <div class="btn-group">
                <div class="btn btn-default" data-bind="sortable: trash" style="height: 34px; width: 60px;"></div>
                <button type="button" class="btn btn-default" data-bind="click: function() {tabs.init(sections)}">reset</button>
            </div>
            <div class="btn-group pull-right">
                <button data-bind="click: close" type="button" class="btn btn-default">Close</button>
                <button data-bind="click: save, css: {disabled: !modified() || isSaving()}" type="button" class="btn btn-default">Save</button>
            </div>
            <div class="btn-group pull-right">
                <button data-bind="click: addPDF" class="btn">+PDF Tab</button>
                <button data-bind="click: addHTML" class="btn">+HTML Tab</button>
            </div>
        </div>
    </div>
    <div data-bind="visible: formReady">
        <div data-bind="bsScrollSpy: sidebar() && formReady()" class="col-md-10 zg-proposal-contents">
            <div data-bind="visible: activeSection() == 'specs'">
                <div id="specs" data-bind="with: specs">
                    @Html.Partial("/Views/proposal/spec/_spec.cshtml")
                </div>
            </div>
            <div data-bind="visible: activeSection() == 'financials' && app.googleChartsLoaded()">
                <div id="financials" data-bind="with: financials">
                    @Html.Partial("/Views/proposal/_financials.cshtml")
                </div>
            </div>
            <div data-bind="visible: activeSection() == 'cashflow'">
                <div id="cashflow" data-bind="with: cashFlow">
                    @Html.Partial("/Views/proposal/_cashflow.cshtml")
                </div>
            </div>
            <div data-bind="visible: activeSection() == 'files'">
                <div id="files" data-bind="with: files">
                    @Html.Partial("/Views/file/_files.cshtml")
                </div>
            </div>
            <div data-bind="foreach: tabs.items">
                <!-- ko if: $data.type -->
                @Html.Partial("/Views/proposal/_customTab.cshtml")
                <!-- /ko -->
            </div>
        </div>
        <div data-bind="with: sidebar" class="col-md-2">
            @Html.Partial("/Views/proposal/_sidebar.cshtml")
        </div>
    </div>
</div>