﻿<div data-bind="bsAffix: {offset: {top: 150}}" class="zg-sidebar">
    <ul class="nav zg-sidenav" data-bind="template: { name: 'zg-template-sidebarEntry', foreach: entries }"></ul>
</div>

<script id="zg-template-sidebarEntry" type="text/html">
    <li>
        <a data-bind="attr: {href: '#' + tag()}, text: title"></a>
        <ul data-bind="template: { name: 'zg-template-sidebarEntry', foreach: submenu }" class="nav"></ul>
    </li>
</script>