﻿@model Zuilding.Web.Domain.BuildableArea

<td>
    @Html.HiddenFor(item=>item.name)
    @Html.DisplayFor(item => item.name)
</td>
<td>
    @Html.EditorFor(item => item.area)
</td>
<td>
    @Html.EditorFor(item => item.percentSellable)
</td>
<td>
    @Html.EditorFor(item => item.salePrice)
</td>
<td>
    @Html.EditorFor(item => item.numUnits)
</td>
