﻿@model Zuilding.Web.ViewModels.CostVM


    <tr>
        <td>@Html.HiddenFor(m=>m.groupName)</td>
        <td>@Html.DisplayFor(m => m.name)</td>
        <td>@Html.HiddenFor(m => m.name)</td>
        <td>@Html.EditorFor(model => model.amount)</td>

        
        @*<td>
            @if (Model.multiplier.HasValue)
            {
                @(Model.amount * Model.multiplier)
            }
        </td>*@

    </tr>
