﻿@model Zuilding.Web.ViewModels.CostGroupVM

    <fieldset>
        @Html.HiddenFor( m=> m.name)

        <legend>@Html.DisplayFor(model => model.name)</legend>

        <table class="table">
            @Html.EditorFor(model => model.costs)
        </table>

    </fieldset>
