﻿@model Zuilding.Web.ViewModels.HardCostVM

<tr>
    <td>
        @Html.DisplayFor(model => model.name)
        @Html.HiddenFor(model => model.name)
    </td>
    <td>@Html.EditorFor(model => model.amount)</td>
    <td>
        @Html.EditorFor(model => model.buildableArea)
    </td>
</tr>
