﻿@model Zuilding.Web.ViewModels.ProposalVM

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.address, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.address)
                @Html.ValidationMessageFor(model => model.address)
            </div>
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.dateCreated)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.landArea, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.landArea)
                @Html.ValidationMessageFor(model => model.landArea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.landFSR, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.landFSR)
                @Html.ValidationMessageFor(model => model.landFSR)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.requiredEquity, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.requiredEquity)
                @Html.ValidationMessageFor(model => model.requiredEquity)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.projectDuration, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.projectDuration)
                @Html.ValidationMessageFor(model => model.projectDuration)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.landPrice, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.landPrice)
                @Html.ValidationMessageFor(model => model.landPrice)
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="row">
                    <fieldset>
                        <legend>Hard Costs</legend>
                        <table title="Hard Costs" class="table">
                            <tr>
                                <th></th>
                                <th></th>
                                <th>
                                <th>
                                    @Html.DisplayNameFor(model => model.hardCosts.First().name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.hardCosts.First().buildableArea.area)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.hardCosts.First().buildableArea.percentSellable)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.hardCosts.First().buildableArea.salePrice)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.hardCosts.First().buildableArea.numUnits)
                                </th>
                            </tr>
                            @Html.EditorFor(m => m.hardCosts)
                        </table>
                    </fieldset>
                    @Html.EditorFor(m => m.softCosts)
                    @Html.EditorFor(m => m.landAcCosts)
                    <fieldset>
                        <legend>Management Costs</legend>
                        <table class="table">
                            @Html.EditorFor(m => m.manageFeeCon)
                            @Html.EditorFor(m => m.manageFeeDev)
                            @Html.EditorFor(m => m.manageFeeMS)
                        </table>
                    </fieldset>
                    <fieldset>
                        <legend>Contingency Costs</legend>
                        <table class="table">
                            @Html.EditorFor(m => m.contingHard)
                            @Html.EditorFor(m => m.contingSoft)
                        </table>
                    </fieldset>
                </div>
            </div>
        </div>
    </fieldset>
}
