﻿<div class="col-md-3">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Date Added</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: index">
            <tr data-bind="click: $parent.gotoChecklist">
                <td data-bind="text: ($index() + 1)"></td>
                <td data-bind="text: name"> </td>
                <td data-bind="text: history['add']"> </td>
            </tr>
        </tbody>
    </table>
</div>
<div data-bind="with: currentChecklist" class="col-md-6">
    @Html.Partial("/views/checklist/_task.cshtml")
</div>