﻿<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="zg-home">
    <div>
        <div class="jumbotron">
            <h2>Welcome '<span data-bind="text: accounts.currentUser.name"></span>'!</h2>
        </div>
    </div>
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-6">
            <h2>Proposals</h2>
            <p>Have a look at your proposals, or create a new one. </p>
            <p><a data-bind="click: function(){ menu.goto('Proposals') }" class="btn btn-default" href="" role="button">Proposals &raquo;</a></p>
        </div>
        @*<div class="col-md-4">
            <h2>Projects</h2>
            <p>View and edit your list of projects.</p>
            <p><a data-bind="click: function(d,e) { menu.goto('Projects') }" class="btn btn-default" href="" role="button">Projects &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Contacts</h2>
            <p>Manage your contacts. These are the people involved with your checklists.</p>
            <p><a data-bind="click: function(d,e) { menu.goto('Contacts') }" class="btn btn-default" href="" role="button">Contacts &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Files</h2>
            <p>Manage your files (your pdfs and other documents.)</p>
            <p><a data-bind="click: function(d,e) { menu.goto('Files') }" class="btn btn-default" href="" role="button">Files &raquo;</a></p>
        </div>*@
        @*<div class="col-md-6">
            <h2>Investors</h2>
            <p>See which investors you are working with, or add a new investor.</p>
            <p><a data-bind="click: function() {menu.goto('Contacts')}" class="btn btn-default" href="" role="button">Investors &raquo;</a></p>
        </div>*@
    </div>
    <hr>
</div>