﻿<!-- file view -->
<script id="zg-template-file-view" type="text/html">
    <div>
        <h4 data-bind="text: fileName, visible: isUploading"> </h4>
        <h4 data-bind="visible: !isUploading()"><a data-bind="text: fileName, attr: {href: location, download: fileName}" >Download</a> </h4>
        <div id="progress" data-bind="visible: isUploading() || uploadFailure()">
            <p data-bind="style: {backgroundPosition: progress}, css: {success: uploadSuccess, failure: uploadFailure}, text: uploadText"></p>
        </div>
        <label data-bind="text: '(' + (type() || 'type unknown') + ')'"> </label>
        <p data-bind="visible: !isUploading(), text: description"> </p>
    </div>
    <div data-bind="visible: !(isUploading() || uploadFailure())">
        <button data-bind="click: edit">Edit</button>
        <button data-bind="click: del">Delete</button>
    </div>
    <button data-bind="visible: uploadFailure(), click: cancel">Cancel</button>
</script>
<!-- file edit -->
<script id="zg-template-file-edit" type="text/html">
    <div>
        <h4 data-bind="text: fileName"> </h4>
        <label data-bind="text: '(' + (type() || 'type unknown') + ')'"> </label>
        <div>
            <label for="descEdit">Description:</label>
            <input id="descEdit" data-bind="value: description" />
        </div>
    </div>
    <button data-bind="click: save">Save</button>
</script>
<!-- upload panel, file list header -->
<script id="zg-template-file-list-upload-panel" type="text/html">
    <div data-bind="visible: showUploadPanel">
        <form id="upload" action="/api/files" method="POST" enctype="multipart/form-data">
            <fieldset>
                <input type="file" id="fileselect" data-bind="event: {change: selectFiles}" name="fileselect[]" multiple="multiple" />
            </fieldset>
        </form>
        <div data-bind="css: {'zg-drag-hover': dragHover}, dropUpload: upload, dragHover: dragHover" class="zg-filedrop" id="filedrag">or drop files here</div>
    </div>
</script>
<div class="panel panel-body">
    <div data-bind="template: {name: 'el-template-page'}" class="zg-file-list">
    </div>
</div>

