﻿<!-- item -->
<script id="el-template-view" type="text/html">
    <div data-bind="text: id"></div>
    <button data-bind="click: edit">Edit</button>
    <button data-bind="click: del">Delete</button>
</script>
<script id="el-template-edit" type="text/html">
    <div data-bind="text: id"></div>
    <button data-bind="click: cancel">Cancel</button>
    <button data-bind="click: save">Save</button>
</script>
<!-- list -->
<script id="el-template-list" type="text/html">
    <ol data-bind="foreach: queryItems">
        <li data-bind="template: {name: templateNames.current()}">
        </li>
    </ol>
</script>
<!-- header - list header contains add new button, etc. -->
<script id="el-template-header" type="text/html">
    <div>
        <div class="btn-toolbar" style="padding-top:10px;">
            <div class="btn-group pull-right">
                <button data-bind="visible: options.allowAdd, enable: !addingNewMode(), click: function(a) {a.addNew({})}" type="button" class="btn btn-default">Add New</button>
            </div>
        </div>
        <div data-bind="template: {name: templateNames.headerContents}"></div>
    </div>
</script>
<!-- header contents -->
<script id="el-template-header-contents" type="text/html">
</script>
<!-- page -->
<script id="el-template-page" type="text/html">
    <div class="panel panel-body">
        <div data-bind="template: {name: templateNames.header}">
        </div>

        <div data-bind="visible: !isLoading(), template: {name: templateNames.list}">
        </div>
    </div>
</script>


