﻿
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Builtin360</title>

    <link rel="stylesheet" type="text/css" href="content/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="content/sidebar.css">
    <link rel="stylesheet" type="text/css" href="content/main.css" />
    <link rel="stylesheet" type="text/css" href="content/uploadStyles.css" />
    <link rel="stylesheet" type="text/css" href="content/tipsy.css" />
    @RenderSection("styles", false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    @Html.Partial("~/Views/_entityList.cshtml")
    <div id="zg-menu">
        @Html.Partial("~/Views/_menu.cshtml")
    </div>
    <div id="zg-contents">
        @RenderBody()
    </div>
    <div id="push"></div>
    <!--footer-->
    <div id="zg-footer" class="credit">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Builtin360</p>
        </div>
    </div>

    <script type="text/javascript" src="~/scripts/jquery.media.js"></script>
    <script type="text/javascript" src="~/scripts/jquery-ui-1.11.1.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type='text/javascript' src='~/scripts/knockout-3.2.0.debug.js'></script>
    <script type='text/javascript' src='~/scripts/knockout.mapping-latest.js'></script>
    <script type="text/javascript" src="~/scripts/knockout.validation.js"></script>
    <script type="text/javascript" src="~/scripts/knockout-sortable.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.tipsy.js"></script>

    <script type="text/javascript" src="~/scripts/app/lib/service.js"></script>
    <script type="text/javascript" src="~/scripts/app/lib/entityList.js"></script>
    <script type="text/javascript" src="~/scripts/app/viewmodels/menu.js"></script>
    <script type="text/javascript" src="~/scripts/app/viewmodels/sidebar.js"></script>
    @RenderSection("scripts", false)
</body>
</html>

