﻿<!--top navbar -->
<header data-bind="with: menu" class="navbar navbar-inverse navbar-static-top">
    <!-- logo -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a data-bind="click: function(){current('')}, css : {selected: current() == ''}" class="navbar-brand" href="">Home</a>
    </div>

    <!-- top menu -->
    <nav class="navbar-collapse collapse">
        <ul class="nav navbar-nav" data-bind="foreach: items">
            <li data-bind="css: {active: $parent.current() == $data}"><a data-bind="click: function(){$parent.goto($data.name)}, text: $data.name" href=""></a></li>
        </ul>

        <!-- login controls -->
        <ul class="nav navbar-nav navbar-right">
            <li data-bind="visible: isAuthenticated, css : {active: current() == 'Accounts'}"><a data-bind="click: function() {goto('Accounts')}" class="navbar-button" href="">Accounts</a></li>
            <li data-bind="visible: isAuthenticated"><a href="Authentication/LogOff" class="navbar-button">Sign out</a></li>
            <li data-bind="visible: !isAuthenticated()"><a href="Authentication/Login" class="navbar-button">Sign in</a></li>
        </ul>
    </nav>
</header>
