﻿@{
    Layout = "/Views/_layout.cshtml";
}

<!--
     Main content page for Builder
-->
<div data-bind="visible: menu.current() == ''">
    @Html.Partial("/views/builder/_home.cshtml")
</div>

@*<div data-bind="with: checklists, visible: menu.current().name == 'Checklists'">
    @Html.Partial("/views/checklist/_index.cshtml")
</div>*@
@*<div data-bind="with: portfolios, visible: menu.current().name == 'Portfolios'">
    @Html.Partial("/Views/builder/_portfolios.cshtml")
</div>*@
<div data-bind="with: proposals, visible: menu.current().name == 'Proposals'">
    @Html.Partial("/Views/proposal/_container.cshtml")  
</div>
@*<div data-bind="with: contacts, visible: menu.current().name == 'Contacts'">
    @Html.Partial("/Views/contact/_index.cshtml")
</div>*@
@*<div data-bind="with: files, visible: menu.current().name == 'Files'">
    @Html.Partial("/Views/file/_files.cshtml")
</div>*@
<div data-bind="with: accounts, visible: menu.current() == 'Accounts'">
    @Html.Partial("/Views/accounts/_accounts.cshtml")
</div>
<!-- Application Scripts -->
@section scripts {
<script type="text/javascript" src="~/scripts/fileDrag.js"></script>
<script type="text/javascript" src="~/scripts/app/viewmodels/proposal/container.js"></script>
<script type="text/javascript" src="~/scripts/app/viewmodels/proposal/page.js"></script>
<script type="text/javascript" src="~/scripts/app/viewmodels/proposal/spec.js"></script>
<script type="text/javascript" src="~/scripts/app/viewmodels/proposal/financials.js"></script>
<script type="text/javascript" src="~/scripts/app/viewmodels/proposal/cashFlow.js"></script>
<script type="text/javascript" src="~/scripts/app/viewmodels/proposal/customTab.js"></script>
<script type="text/javascript" src="~/scripts/app/viewmodels/checklist.js"></script>
<script type="text/javascript" src="~/scripts/app/viewmodels/accounts.js"></script>
<script type="text/javascript" src="~/scripts/app/viewmodels/files.js"></script>
<script type="text/javascript" src="~/scripts/app/builderApp.js"></script>
}

