﻿@model Zuilding.Web.Models.LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Log in</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href="Content/style.css" rel="stylesheet" type="text/css" media="screen" title="stylesheet" />
    <!-- Scripts -->
    <script type="text/javascript" src="Scripts/js/modernizr.js"></script>
    @Scripts.Render("~/bundles/jquery")


    @*<script type="text/javascript" src="../../../../../ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>*@
    <script type="text/javascript" src="Scripts/js/script.js"></script>
    <!--(if it IE 9) >
    <script>
        document.createElement("article");
        document.createElement("aside");
        document.createElement("footer");
        document.createElement("header");
        document.createElement("nav");
        document.createElement("section");
    </script>
    <! (endif)-->
</head>
<body>
    <!-- Styles -->
    
    <style type="text/css">
        body {
            color: #FFF;
        }
        /* This will change the main site text colour to white */
    </style>

   
    <section id="loginForm">

        <div id="wrapper">
            <header id="site-main">
                <div class="container1">
                    <img src="Content/images/logoBLUE.png" width="184" height="319">
                </div>
            </header><!-- end header -->
            <main>
                <section>
                    <div id="site-middle">
                        <div class="container">
                            <section class="subscribe">
                                <h2>Client Login</h2>
                                <!-- Add your subscription form code here, more details in the documentation  -->
                                <form action="/Authentication/login" method="post" class="php-newsletter">
                                    @Html.AntiForgeryToken()    
                                    <input name="UserName" id="UserName" placeholder="Enter Your Username" class="forminput" />
                                    <input type="Password" name="Password" id="Password" placeholder="******" class="forminput" />
                                    <input type="submit" class="forminput" name="subscribe_submit" id="subscribe_submit" value="Log in" /><br />
                                    <a href="#" class="formlinks"> Forgot Username? </a> |  <a href="#" class="formlinks"> Forgot Password?</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="form-control" id="RememberMe" name="RememberMe" />Remember Me
                                </form> 
                                <!-- end of subscription form code -->
                            </section>
                        </div>
                    </div><!-- end site main -->
                </section>
            </main>

            <footer id="site-footer">
                <div class="container">
                    <p>
                        &copy; 2014 Built-in 360&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
                        <a href="#">Terms and Conditions</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
                        <a href="#">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
                        <a href="#">Contact Us</a>
                    </p>
                </div>
            </footer><!-- end site footer -->
        </div><!-- end wrapper -->

    </section>

</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
