﻿@{
    Layout = "~/Views/Shared/_menuLayout.cshtml";
}

@model Zuilding.Web.ViewModels.ProposalVM

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create Proposal</legend>

        @Html.EditorForModel()

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
