﻿@{
    Layout = "~/Views/Shared/_menuLayout.cshtml";
}

@model Zuilding.Web.ViewModels.ProposalVM

<fieldset>
    <legend>Project Details</legend>

    <dl class="dl-horizontal">
        @Html.DisplayForModel()
    </dl>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
