﻿@{
    Layout = "~/Views/Shared/_menuLayout.cshtml";
}

@model Zuilding.Web.ViewModels.ProposalVM

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit Project</legend>

        @Html.EditorForModel()

        <p>
            <input type="submit" value="Save" class="btn btn-default" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
