﻿@{
    Layout = "~/Views/Shared/_menuLayout.cshtml";
}


@model IEnumerable<Zuilding.Web.ViewModels.ProposalIndexVM>

@*<h2>Index</h2>*@

@{
    ViewBag.Title = "index";
}

@if (User.IsInRole("Builder"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateModified)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateModified)
            </td>
            @if (User.IsInRole("Builder"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            }

        </tr>
    }

</table>
