﻿@model Zuilding.Web.Domain.BuildableArea

<td>
    @Html.DisplayFor(item => item.name)
</td>
<td>
    @Html.DisplayFor(item => item.area)
</td>
<td>
    @Html.DisplayFor(item => item.percentSellable)
</td>
<td>
    @Html.DisplayFor(item => item.salePrice)
</td>
<td>
    @Html.DisplayFor(item => item.numUnits)
</td>

@*<tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.percentSellable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numUnits)
        </th>
        <th></th>
    </tr>*@

