﻿@model Zuilding.Web.ViewModels.CostGroupVM


<fieldset>
    @if (Model.name.Length > 0)
    {
        <legend>@Html.DisplayFor(model => model.name)</legend>
    }
    
    <table class="table">
        @foreach (var c in Model.costs)
        {
            <tr>
                @Html.DisplayFor(model => c)
            </tr>
        }

    </table>

</fieldset>