﻿@model Zuilding.Web.ViewModels.CostVM

<tr>

    <td>@Html.DisplayFor(model => model.name)</td>
    <td>@Html.DisplayFor(model => model.amount)</td>
    <td>
        @*@if (Model.multiplier.HasValue)
        {
            @(Model.amount * Model.multiplier)
        }*@
    </td>

</tr>
