﻿@model Zuilding.Web.ViewModels.HardCostVM


    <tr>
        <td>@Html.DisplayFor(model => model.name)</td>
        <td>@Html.DisplayFor(model => model.amount)</td>
        <td>
            @Html.DisplayFor(model => model.buildableArea)
        </td>
    </tr>
