﻿@model Zuilding.Web.ViewModels.ProposalVM

<fieldset>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateModified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.landArea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.landArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.landFSR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.landFSR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.requiredEquity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.requiredEquity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.projectDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.landPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.landPrice)
        </dd>
    </dl>
    <div class="container">
        <div class="row">
            <div class="col-md9">
                <div class="row">
                    <fieldset>
                        <legend>Hard Costs</legend>
                        <table title="Hard Costs" class="table">
                            <tr>
                                <th></th>
                                <th></th>
                                <th>
                                <th>
                                    @Html.DisplayNameFor(model => model.hardCosts.First().name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.hardCosts.First().buildableArea.area)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.hardCosts.First().buildableArea.percentSellable)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.hardCosts.First().buildableArea.salePrice)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.hardCosts.First().buildableArea.numUnits)
                                </th>
                            </tr>
                            @Html.DisplayFor(m => m.hardCosts)
                        </table>
                    </fieldset>
                    @Html.DisplayFor(m => m.softCosts)
                    @Html.DisplayFor(m => m.landAcCosts)
                    <fieldset>
                        <legend>Management Costs</legend>
                        <table class="table">
                            @Html.DisplayFor(m => m.manageFeeCon)
                            @Html.DisplayFor(m => m.manageFeeDev)
                            @Html.DisplayFor(m => m.manageFeeMS)
                    </table>
                    </fieldset>
                    <fieldset>
                        <legend>Contingency Costs</legend>
                        <table class="table">
                            @Html.DisplayFor(m => m.contingHard)
                            @Html.DisplayFor(m => m.contingSoft)
                        </table>
                    </fieldset>
              </div>
            </div>
        </div>
    </div>


</fieldset>


@*

    <dt>
        @Html.DisplayNameFor(model => model.grossResidentialArea)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.grossResidentialArea)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.grossCommercialArea)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.grossCommercialArea)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.numResidentialUnits)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.numResidentialUnits)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.numCommercialUnits)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.numCommercialUnits)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.numParkingRequired)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.numParkingRequired)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.numParkingProposed)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.numParkingProposed)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.residentialSellableArea)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.residentialSellableArea)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.commercialSellableArea)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.commercialSellableArea)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.residentialSalePrice)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.residentialSalePrice)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.commercialSalePrice)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.commercialSalePrice)
    </dd>
*@